.wrapper {
  margin: 1rem;
}

.legend {
  margin-left: 2.5rem;
  padding: 0;
}

.title_wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
}
